<div class="banner-cont">
  <div class="image1"><img src="assets\img\bg12.jpg"></div>
  <div class="container">

    <div class="d-flex justify-content-center h-100" class="maindiv">
      <div class="header">
        <h3 class="login">Login</h3>
      </div>

      <div class="body">
        <div>

          <small class="text-danger">{{errorMsg}}</small>
        </div>
        <form #loginForm="ngForm" (ngSubmit)="loginMethod()">
          <div class="form-group">
            <label id="lcolor">Employee ID</label>


            <input type="text" [class.is-invalid]="empID.invalid && empID.touched" #empID="ngModel" class="form-control"
              required pattern="^\d{5}$" class="textfeild" placeholder="Employee Id" name="empId" [(ngModel)]="empId">

            <div *ngIf="empID.errors && (empID.invalid || empID.touched)">
              <small class="text-danger" *ngIf="empID.errors.required && empID.touched">Employee ID is required</small>
              <small class="text-danger" *ngIf="empID.errors.pattern">Employee ID should be a 5 digit number</small>
            </div>

          </div>

          <div class="form-group">
            <label id="lcolor">Password</label>
            <!-- <br> -->
            <input [class.is-invalid]="Password.invalid && Password.touched" type="password" #Password="ngModel"
              class="form-control" class="textfeild" placeholder="Password" name="password" [(ngModel)]="password"
              required>
            <div *ngIf="Password.errors && (Password.invalid || Password.touched)">
              <small class="text-danger" *ngIf="Password.errors.required && Password.touched">Password is
                required</small>
            </div>
          </div>

          <div class="btn">
            <button class="btn btn-primary" type="submit" [disabled]="!loginForm.valid" value="Login">Login</button>

          </div>
        </form>



      </div>
    </div>
  </div>
</div>